@import url(https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:400);
@import url(https://fonts.googleapis.com/css?family=Kalam:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:400);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Kanit', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Indie Flower', handwriting;
  font-size: 1.4rem;
}
.display-4 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-5 {
  font-family: 'Kaushan Script', handwriting;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Kalam', handwriting;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Kalam', handwriting;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-r3g5linDrL {
  background-image: url("../../../assets/images/mbr-1920x1129.jpg");
}
.cid-r3g5linDrL H1 {
  text-align: center;
}
.cid-r4gWmnTkX2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #073b4c;
}
.cid-r4gWmnTkX2 .image-block {
  margin: auto;
}
.cid-r4gWmnTkX2 .mbr-figure {
  margin: 0 auto;
}
.cid-r4gWmnTkX2 figcaption {
  position: relative;
}
.cid-r4gWmnTkX2 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4gWmnTkX2 .image-block {
    width: 100% !important;
  }
}
.cid-r454SqVid6 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #073b4c;
}
.cid-r454SqVid6 .line {
  background-color: #ff3366;
  color: #ff3366;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-r454SqVid6 .section-text {
  padding: 2rem 0;
}
.cid-r454SqVid6 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-r454SqVid6 .inner-container {
    width: 100% !important;
  }
}
.cid-r3y6SfKXB5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #073b4c;
}
.cid-r3y6SfKXB5 .line {
  background-color: #ff3366;
  color: #ff3366;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-r3y6SfKXB5 .section-text {
  padding: 2rem 0;
}
.cid-r3y6SfKXB5 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-r3y6SfKXB5 .inner-container {
    width: 100% !important;
  }
}
.cid-r3Q26GaxLu {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #073b4c;
}
.cid-r3Q26GaxLu .image-block {
  margin: auto;
}
.cid-r3Q26GaxLu .mbr-figure {
  margin: 0 auto;
}
.cid-r3Q26GaxLu figcaption {
  position: relative;
}
.cid-r3Q26GaxLu figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3Q26GaxLu .image-block {
    width: 100% !important;
  }
}
.cid-r3ynUIzZgN {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #073b4c;
}
.cid-r3ynUIzZgN .image-block {
  margin: auto;
}
.cid-r3ynUIzZgN .mbr-figure {
  margin: 0 auto;
}
.cid-r3ynUIzZgN figcaption {
  position: relative;
}
.cid-r3ynUIzZgN figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3ynUIzZgN .image-block {
    width: 100% !important;
  }
}
.cid-r3xl15oLvE {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #073b4c;
}
.cid-r3xl15oLvE .image-block {
  margin: auto;
}
.cid-r3xl15oLvE .mbr-figure {
  margin: 0 auto;
}
.cid-r3xl15oLvE figcaption {
  position: relative;
}
.cid-r3xl15oLvE figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xl15oLvE .image-block {
    width: 100% !important;
  }
}
.cid-r4gUBiWQp6 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #073b4c;
}
.cid-r4gUBiWQp6 .line {
  background-color: #ff3366;
  color: #ff3366;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-r4gUBiWQp6 .section-text {
  padding: 2rem 0;
}
.cid-r4gUBiWQp6 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-r4gUBiWQp6 .inner-container {
    width: 100% !important;
  }
}
.cid-r3ggjPR6pc {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #073b4c;
}
.cid-r3ghFEYS2v {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #073b4c;
}
.cid-r3ghFEYS2v .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-r3ghFEYS2v .number-wrap {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-r3ghFEYS2v .number {
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -2px;
  font-size: 55px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ffffff;
}
.cid-r3ghFEYS2v .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-r3ghFEYS2v .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  font-size: 55px;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ffffff;
}
.cid-r3ghFEYS2v .countdown-cont {
  background: linear-gradient(45deg, #149dcc, #ff7f9f);
  max-width: 700px;
  border-radius: 3px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-r3ghFEYS2v .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-r3ghFEYS2v .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-r3ghFEYS2v .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .cid-r3ghFEYS2v .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-r3ghFEYS2v .number,
  .cid-r3ghFEYS2v .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-r3ghFEYS2v .period {
    font-size: 0.8rem;
  }
}
.cid-r3ghFEYS2v H2 {
  color: #cccccc;
}
.cid-r3kuwIGI9x {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #073b4c;
}
.cid-r3kuwIGI9x .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-r3kuwIGI9x .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-r3kuwIGI9x .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-r3kuwIGI9x .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-r3kuwIGI9x .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff3366;
  background: linear-gradient(to left, #ff3366, #149dcc) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-r3kuwIGI9x .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-r3kuwIGI9x .mbr-gallery-item > div:hover:before {
  opacity: 0.3 !important;
}
.cid-r3kuwIGI9x .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-r3kuwIGI9x .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #ff3366 !important;
  background: linear-gradient(to left, #ff3366, #149dcc) !important;
  opacity: 0.3;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-r3gL7epKgf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1079.jpg");
}
.cid-r3qRuXFkL5 {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-r3r1C2ZxqH {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #000000;
}
.cid-r3r1C2ZxqH .mbr-section-subtitle {
  color: #ffffff;
  font-weight: 300;
}
.cid-r3r1C2ZxqH .number-wrap {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-r3r1C2ZxqH .number {
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -2px;
  font-size: 55px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ffffff;
}
.cid-r3r1C2ZxqH .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-r3r1C2ZxqH .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  font-size: 55px;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ffffff;
}
.cid-r3r1C2ZxqH .countdown-cont {
  background: linear-gradient(45deg, #149dcc, #ff3366);
  max-width: 700px;
  border-radius: 3px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-r3r1C2ZxqH .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-r3r1C2ZxqH .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-r3r1C2ZxqH .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .cid-r3r1C2ZxqH .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-r3r1C2ZxqH .number,
  .cid-r3r1C2ZxqH .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-r3r1C2ZxqH .period {
    font-size: 0.8rem;
  }
}
.cid-r3r1C2ZxqH H2 {
  color: #ffffff;
}
.cid-r4gWYBpFgD {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #000000;
}
.cid-r4gWYBpFgD .image-block {
  margin: auto;
}
.cid-r4gWYBpFgD .mbr-figure {
  margin: 0 auto;
}
.cid-r4gWYBpFgD figcaption {
  position: relative;
}
.cid-r4gWYBpFgD figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4gWYBpFgD .image-block {
    width: 100% !important;
  }
}
.cid-r4gWOu51B6 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #000000;
}
.cid-r4gWOu51B6 .image-block {
  margin: auto;
}
.cid-r4gWOu51B6 .mbr-figure {
  margin: 0 auto;
}
.cid-r4gWOu51B6 figcaption {
  position: relative;
}
.cid-r4gWOu51B6 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4gWOu51B6 .image-block {
    width: 100% !important;
  }
}
.cid-r3HrUJHJBZ {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #000000;
}
.cid-r3HrUJHJBZ .image-block {
  margin: auto;
}
.cid-r3HrUJHJBZ .mbr-figure {
  margin: 0 auto;
}
.cid-r3HrUJHJBZ figcaption {
  position: relative;
}
.cid-r3HrUJHJBZ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3HrUJHJBZ .image-block {
    width: 100% !important;
  }
}
.cid-r3CE02AZft {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #000000;
}
.cid-r3CE02AZft .image-block {
  margin: auto;
}
.cid-r3CE02AZft .mbr-figure {
  margin: 0 auto;
}
.cid-r3CE02AZft figcaption {
  position: relative;
}
.cid-r3CE02AZft figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3CE02AZft .image-block {
    width: 100% !important;
  }
}
.cid-r3sKkrEboW {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #000000;
}
.cid-r3sKkrEboW .image-block {
  margin: auto;
}
.cid-r3sKkrEboW .mbr-figure {
  margin: 0 auto;
}
.cid-r3sKkrEboW figcaption {
  position: relative;
}
.cid-r3sKkrEboW figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3sKkrEboW .image-block {
    width: 100% !important;
  }
}
.cid-r3xMFF3Ufd {
  background-image: url("../../../assets/images/mbr-1920x1277.jpg");
}
.cid-r3xSJVSoCf {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #3a4346;
}
.cid-r3xSJVSoCf .image-block {
  margin: auto;
}
.cid-r3xSJVSoCf .mbr-figure {
  margin: 0 auto;
}
.cid-r3xSJVSoCf figcaption {
  position: relative;
}
.cid-r3xSJVSoCf figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xSJVSoCf .image-block {
    width: 100% !important;
  }
}
.cid-r3xSX50Rzs {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #3a4346;
}
.cid-r3xSX50Rzs .image-block {
  margin: auto;
}
.cid-r3xSX50Rzs .mbr-figure {
  margin: 0 auto;
}
.cid-r3xSX50Rzs figcaption {
  position: relative;
}
.cid-r3xSX50Rzs figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xSX50Rzs .image-block {
    width: 100% !important;
  }
}
.cid-r3xSX50Rzs DIV {
  color: #ff3366;
  text-align: center;
}
.cid-r3xSXOjt8E {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #3a4346;
}
.cid-r3xSXOjt8E .image-block {
  margin: auto;
}
.cid-r3xSXOjt8E .mbr-figure {
  margin: 0 auto;
}
.cid-r3xSXOjt8E figcaption {
  position: relative;
}
.cid-r3xSXOjt8E figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xSXOjt8E .image-block {
    width: 100% !important;
  }
}
.cid-r3xSXOjt8E DIV {
  color: #ff3366;
  text-align: center;
}
.cid-r3xSYnszCJ {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #3a4346;
}
.cid-r3xSYnszCJ .image-block {
  margin: auto;
}
.cid-r3xSYnszCJ .mbr-figure {
  margin: 0 auto;
}
.cid-r3xSYnszCJ figcaption {
  position: relative;
}
.cid-r3xSYnszCJ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xSYnszCJ .image-block {
    width: 100% !important;
  }
}
.cid-r3xSYnszCJ DIV {
  color: #ff3366;
  text-align: center;
}
.cid-r3xTOqQOE9 {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #3a4346;
}
.cid-r3xTOqQOE9 .image-block {
  margin: auto;
}
.cid-r3xTOqQOE9 .mbr-figure {
  margin: 0 auto;
}
.cid-r3xTOqQOE9 figcaption {
  position: relative;
}
.cid-r3xTOqQOE9 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xTOqQOE9 .image-block {
    width: 100% !important;
  }
}
.cid-r3xTOqQOE9 DIV {
  color: #ff3366;
  text-align: center;
}
.cid-r3xTRfkj8P {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #3a4346;
}
.cid-r3xTRfkj8P .image-block {
  margin: auto;
}
.cid-r3xTRfkj8P .mbr-figure {
  margin: 0 auto;
}
.cid-r3xTRfkj8P figcaption {
  position: relative;
}
.cid-r3xTRfkj8P figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3xTRfkj8P .image-block {
    width: 100% !important;
  }
}
.cid-r3xTRfkj8P DIV {
  color: #ff3366;
  text-align: center;
}
.cid-r3Hsb4f0Vf {
  background-image: url("../../../assets/images/mbr-1920x1279.jpg");
}
.cid-r3Hs9Bn6lG {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-r3Hs9Bn6lG .card-img {
  background-color: #fff;
}
.cid-r3Hs9Bn6lG .card-box {
  background-color: #b784a7;
  padding: 2rem;
}
.cid-r3Hs9Bn6lG h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-r3Hs9Bn6lG p {
  text-align: left;
}
.cid-r3Hs9Bn6lG .mbr-text {
  color: #ffffff;
}
.cid-r3Hs9Bn6lG .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-r3Hs9Bn6lG .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-r3Hs9Bn6lG .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-r3HvS4sclG {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-r3HvS4sclG .card-img {
  background-color: #fff;
}
.cid-r3HvS4sclG .card-box {
  background-color: #b784a7;
  padding: 2rem;
}
.cid-r3HvS4sclG h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-r3HvS4sclG p {
  text-align: left;
}
.cid-r3HvS4sclG .mbr-text {
  color: #ffffff;
}
.cid-r3HvS4sclG .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-r3HvS4sclG .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-r3HvS4sclG .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-r4y3ycTbUI {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-r4y3ycTbUI .card-img {
  background-color: #fff;
}
.cid-r4y3ycTbUI .card-box {
  background-color: #b784a7;
  padding: 2rem;
}
.cid-r4y3ycTbUI h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-r4y3ycTbUI p {
  text-align: left;
}
.cid-r4y3ycTbUI .mbr-text {
  color: #ffffff;
}
.cid-r4y3ycTbUI .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-r4y3ycTbUI .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-r4y3ycTbUI .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-r3Jdffe1JE {
  background-image: url("../../../assets/images/mbr-1920x783.jpg");
}
.cid-r3Jdffe1JE .mbr-text,
.cid-r3Jdffe1JE .mbr-section-btn {
  color: #ffffff;
}
.cid-r3JizoJYTT {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #5b686b;
}
.cid-r3JizoJYTT .image-block {
  margin: auto;
}
.cid-r3JizoJYTT .mbr-figure {
  margin: 0 auto;
}
.cid-r3JizoJYTT figcaption {
  position: relative;
}
.cid-r3JizoJYTT figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JizoJYTT .image-block {
    width: 100% !important;
  }
}
.cid-r3JjbyFT2W {
  background-image: url("../../../assets/images/mbr-1920x1177.jpg");
}
.cid-r3JjGF2ZJ5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JjGF2ZJ5 .image-block {
  margin: auto;
}
.cid-r3JjGF2ZJ5 .mbr-figure {
  margin: 0 auto;
}
.cid-r3JjGF2ZJ5 figcaption {
  position: relative;
}
.cid-r3JjGF2ZJ5 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JjGF2ZJ5 .image-block {
    width: 100% !important;
  }
}
.cid-r3Jk43gN9f {
  background-image: url("../../../assets/images/mbr-3-1920x1280.jpg");
}
.cid-r3Jk44qKgG {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3Jk44qKgG .image-block {
  margin: auto;
}
.cid-r3Jk44qKgG .mbr-figure {
  margin: 0 auto;
}
.cid-r3Jk44qKgG figcaption {
  position: relative;
}
.cid-r3Jk44qKgG figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3Jk44qKgG .image-block {
    width: 100% !important;
  }
}
.cid-r3JqmQidAY {
  background-image: url("../../../assets/images/mbr-4-1920x1280.jpg");
}
.cid-r3JqmRszqp {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JqmRszqp .image-block {
  margin: auto;
}
.cid-r3JqmRszqp .mbr-figure {
  margin: 0 auto;
}
.cid-r3JqmRszqp figcaption {
  position: relative;
}
.cid-r3JqmRszqp figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JqmRszqp .image-block {
    width: 100% !important;
  }
}
.cid-r3Jrgc5QuS {
  background-image: url("../../../assets/images/mbr-5-1920x1280.jpg");
}
.cid-r3Jrge5bxt {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3Jrge5bxt .image-block {
  margin: auto;
}
.cid-r3Jrge5bxt .mbr-figure {
  margin: 0 auto;
}
.cid-r3Jrge5bxt figcaption {
  position: relative;
}
.cid-r3Jrge5bxt figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3Jrge5bxt .image-block {
    width: 100% !important;
  }
}
.cid-r3JsuALgih {
  background-image: url("../../../assets/images/mbr-6-1920x1280.jpg");
}
.cid-r3JsuBU5Ev {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JsuBU5Ev .image-block {
  margin: auto;
}
.cid-r3JsuBU5Ev .mbr-figure {
  margin: 0 auto;
}
.cid-r3JsuBU5Ev figcaption {
  position: relative;
}
.cid-r3JsuBU5Ev figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JsuBU5Ev .image-block {
    width: 100% !important;
  }
}
.cid-r3JuRWt3PH {
  background-image: url("../../../assets/images/mbr-7-1920x1280.jpg");
}
.cid-r3JuRXN7vQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JuRXN7vQ .image-block {
  margin: auto;
}
.cid-r3JuRXN7vQ .mbr-figure {
  margin: 0 auto;
}
.cid-r3JuRXN7vQ figcaption {
  position: relative;
}
.cid-r3JuRXN7vQ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JuRXN7vQ .image-block {
    width: 100% !important;
  }
}
.cid-r3JvxnpoS1 {
  background-image: url("../../../assets/images/mbr-1-1920x1079.jpg");
}
.cid-r3JvxoYkYS {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JvxoYkYS .image-block {
  margin: auto;
}
.cid-r3JvxoYkYS .mbr-figure {
  margin: 0 auto;
}
.cid-r3JvxoYkYS figcaption {
  position: relative;
}
.cid-r3JvxoYkYS figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JvxoYkYS .image-block {
    width: 100% !important;
  }
}
.cid-r3Jw92nAgD {
  background-image: url("../../../assets/images/mbr-8-1920x1280.jpg");
}
.cid-r3Jw93FHUY {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3Jw93FHUY .image-block {
  margin: auto;
}
.cid-r3Jw93FHUY .mbr-figure {
  margin: 0 auto;
}
.cid-r3Jw93FHUY figcaption {
  position: relative;
}
.cid-r3Jw93FHUY figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3Jw93FHUY .image-block {
    width: 100% !important;
  }
}
.cid-r3JwNgIXOq {
  background-image: url("../../../assets/images/mbr-9-1920x1280.jpg");
}
.cid-r3JwNigch1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JwNigch1 .image-block {
  margin: auto;
}
.cid-r3JwNigch1 .mbr-figure {
  margin: 0 auto;
}
.cid-r3JwNigch1 figcaption {
  position: relative;
}
.cid-r3JwNigch1 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JwNigch1 .image-block {
    width: 100% !important;
  }
}
.cid-r3JxpVWS0b {
  background-image: url("../../../assets/images/mbr-9-1920x1280.jpg");
}
.cid-r3JxpXAYy0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JxpXAYy0 .image-block {
  margin: auto;
}
.cid-r3JxpXAYy0 .mbr-figure {
  margin: 0 auto;
}
.cid-r3JxpXAYy0 figcaption {
  position: relative;
}
.cid-r3JxpXAYy0 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JxpXAYy0 .image-block {
    width: 100% !important;
  }
}
.cid-r3JxK9TLZL {
  background-image: url("../../../assets/images/mbr-10-1920x1280.jpg");
}
.cid-r3JxKbdXdW {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r3JxKbdXdW .image-block {
  margin: auto;
}
.cid-r3JxKbdXdW .mbr-figure {
  margin: 0 auto;
}
.cid-r3JxKbdXdW figcaption {
  position: relative;
}
.cid-r3JxKbdXdW figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r3JxKbdXdW .image-block {
    width: 100% !important;
  }
}
.cid-r4ydqMyLzJ {
  background-image: url("../../../assets/images/mbr-1920x960.jpg");
}
.cid-r4ydqNq6dD {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r4ydqNq6dD .image-block {
  margin: auto;
}
.cid-r4ydqNq6dD .mbr-figure {
  margin: 0 auto;
}
.cid-r4ydqNq6dD figcaption {
  position: relative;
}
.cid-r4ydqNq6dD figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4ydqNq6dD .image-block {
    width: 100% !important;
  }
}
.cid-r4yeyxYd3E {
  background-image: url("../../../assets/images/mbr-11-1920x1280.jpg");
}
.cid-r4yeyzmgO7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r4yeyzmgO7 .image-block {
  margin: auto;
}
.cid-r4yeyzmgO7 .mbr-figure {
  margin: 0 auto;
}
.cid-r4yeyzmgO7 figcaption {
  position: relative;
}
.cid-r4yeyzmgO7 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4yeyzmgO7 .image-block {
    width: 100% !important;
  }
}
.cid-r4z8Akioan {
  background-image: url("../../../assets/images/mbr-12-1920x1280.jpg");
}
.cid-r4z8AlXZdu {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r4z8AlXZdu .image-block {
  margin: auto;
}
.cid-r4z8AlXZdu .mbr-figure {
  margin: 0 auto;
}
.cid-r4z8AlXZdu figcaption {
  position: relative;
}
.cid-r4z8AlXZdu figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4z8AlXZdu .image-block {
    width: 100% !important;
  }
}
.cid-r4zgTO6vOA {
  background-image: url("../../../assets/images/mbr-13-1920x1280.jpg");
}
.cid-r4zgTPBDIs {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r4zgTPBDIs .image-block {
  margin: auto;
}
.cid-r4zgTPBDIs .mbr-figure {
  margin: 0 auto;
}
.cid-r4zgTPBDIs figcaption {
  position: relative;
}
.cid-r4zgTPBDIs figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4zgTPBDIs .image-block {
    width: 100% !important;
  }
}
.cid-r4zsgf4Npz {
  background-image: url("../../../assets/images/mbr-1280x1920.jpg");
}
.cid-r4zsggnR7B {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r4zsggnR7B .image-block {
  margin: auto;
}
.cid-r4zsggnR7B .mbr-figure {
  margin: 0 auto;
}
.cid-r4zsggnR7B figcaption {
  position: relative;
}
.cid-r4zsggnR7B figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4zsggnR7B .image-block {
    width: 100% !important;
  }
}
.cid-r4zxrTaCho {
  background-image: url("../../../assets/images/mbr-14-1920x1280.jpg");
}
.cid-r4zxrUVU0q {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #333333;
}
.cid-r4zxrUVU0q .image-block {
  margin: auto;
}
.cid-r4zxrUVU0q .mbr-figure {
  margin: 0 auto;
}
.cid-r4zxrUVU0q figcaption {
  position: relative;
}
.cid-r4zxrUVU0q figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-r4zxrUVU0q .image-block {
    width: 100% !important;
  }
}
